{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
  <h1>Votre Panier</h1>
   {% if panier is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        <ul>
            {% for produitId, quantite in panier %}
                <li>Produit ID: {{ produitId }}, Quantité: {{ quantite }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ path('accueil') }}">Continuer les achats</a>

{% endblock %}
