{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-4">
    <a href="{{path('chiffreAffaire')}}" class="btn btn-primary active "data-bs-toggle="tab" aria-selected="true">Chiffre d'affaire par mois</a>
    <a href="{{path('caFournisseur')}}" class="btn btn-primary">Chiffre d'affaire par fournisseur</a>
</div>
    

{% endblock %}
