

{% block title %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="" alt="">
			</div>
			<div class="col-6">
				<p>Facture N°</p>
                <p>Commande N°</p>
                <p>Date: </p>
			</div>
		</div>
        <div class="row">
			<div class="col-10 border">
				<p class="lorem">Client : numéro, nom, addresse, contact</p>
			</div>
			
		</div>
	</div>

{% endblock %}
