{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container justify-content-center mt-5">
    <div class="row  justify-content-center mt-5">
        <div class="col-3 text-center">
            <p>Connectez-vous pour trouver vos informations personnelles et gérer votre profil</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col text-center">
            <a href="{{path('app_login')}}"><button type="button" class="btn btn-primary btn-lg">Se connecter</button></a>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col">
            <a href="{{path('app_register')}}"><button type="button" class="btn btn-primary btn-lg">Créer un compte</button></a>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col">
            <button type="button" class="btn btn-outline-danger btn-lg">Annuler</button>
        </div>
    </div>
</div>



{% endblock %}
