body{
    background-color: rgb(246, 246, 242);

}
#logo{
    width: 15%;
    height: 70px;
    object-fit: cover;
}
.p_navbar{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    box-shadow: 1px 1px 5px red;
}
.nav-item{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .10s ease-in-out, bordercolor .3s ease ;
}
.nav-item:hover{
  padding-bottom: 5px; ;
  border-bottom-color: rgb(97, 9, 239) ; 

}
#fond {

    width: 100%;
    height: 200px;
    object-fit: cover;
}
video{
    width: 100%;
    height:300px;
}
.survol{ 
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.survol:hover {

    transform: scale(1.2);
}

.contenu{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    background-image: url("/Users/AMMOUCHI/Desktop/fil_rouge.jpg");
    background-size: cover;
}


.parallax{

background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../media/img/parallax.jpg")  center fixed no-repeat;
background-size: cover;
height:auto;
}
/*parallax {
    background-image: url("/home/ammouchi/Bureau/abdallah/FRONT/STATIQUE/HTML/Projet_fil_rouge/fil_rouge.jpg");
  }*/

form{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
}
.c_obligatoire{
    font-size: 15px;
    color: red;
}
#obligatoire{
    
    font-size: 15px;
}
.text-over{
   position:absolute;
    left:50%;
    left:50%;
    color:black;
    font-size: 25px;
    transform: translate(50%, 50%);
}
h3.nomCategorie{
    font-size: 20px;
     font-weight: 600;
     color: rgb(122, 9, 18);
}
.categorie1{
    font-size: 20px;
     font-weight:600 ;
     color:rgb(122, 9, 18);
}
.quantite{
    width: 45px;
    background-color: white;
}
 /*************************** Footer*******************/
 footer{
    background: linear-gradient(to top, #0a0a0a, #c87676);
    color: aliceblue;
 }
 
 .payment-images img {
    width: 30px; 
    margin-right: 10px; 
}

h4.prix{
    color:rgb(122, 9, 18);
}