<h4 class="card-title ">Récapitulatif</h4>
<p class="card-text mt-4">Sous-total HT :
</p>
<p class="card-text mt-4">TVA : 20%</p>
<hr>
<p class="card-text mt-4">Sous-total TTC :</p>
<p class="card-text mt-4">Frais de livraison :</p>
<hr>
<p class="card-text mt-4">Total à payer :</p>

