{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container  ">
        <div class="row ">
            <div class="col-sm-6 col-md-8 my-3">
                <h1 class="text-primary my-4">Mentions Légales</h1>
                <ul>
                    <li><b>Nom de l'Entreprise :</b> Restaurant the District</li>
                    <li><b>Forme Juridique </b>SARL</li>
                    <li><b>Adresse du Siège Social : </b>30 rue Poulainville, 80000 Amiens</li>
                    <li><b>Numéro de Téléphone :</b>09 72 72 39 36</li>
                    <li><b>Adresse E-mail :</b>htedistrict@gmail.com</li>
                    <li><b>Capital Social :</b>10 000 €</li>
                    <li><b>Directeur de la Publication </b>AFPA</li>
                    <li><b>Hébergeur du Site :</b>amorce.org</li>
                    
                </ul>
                <h3>Propriété Intellectuelle :</h3>
                <p>Notre site et son contenu sont la propriété exclusive du réstaurant The District et sont protégés par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée du contenu de ce site est interdite.</p>
                <h3>Protection des Données Personnelles </h3>
                <p>Les informations personnelles collectées sur ce site sont destinées au réstaurant The District, et ne seront utilisées que dans le cadre de la réservation ou de la demande d'informations. Conformément à la loi sur la protection des données personnelles, vous avez le droit d'accéder, de rectifier et de supprimer vos données personnelles. Vous pouvez exercer ce droit en nous contactant à l'adresse suivante : htedistrict@gmail.com.</p>
                <h3>Liens Hypertextes</h3>
                <p>Les liens hypertextes présents sur ce site serts à orienter les utilisateurs vers d'autres sites internet n'engagent pas la responsabilité du restaurant The District quant au contenu de ces sites.</p>
                <h3>Modification des Mentions Légales</h3>
                <p>Notre réstaurant the District se réserve le droit de modifier les présentes mentions légales à tout moment. L'utilisateur s'engage donc à les consulter régulièrement.</p>
                 <p class="my-3">Fait à Amiens, le 05/12/2023.</p>
            </div>
        </div>
    </div>
{% endblock %}