{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-12 my-3">
                <h2 class="text-primary my-4">Politique de Confidentialité</h2>
                <p>La présente Politique de Confidentialité explique comment le restaurant The District collecte et utilise vos données personnelles. En utilisant les services du restaurant The District, vous consentez à ce que The District utilise vos données personnelles de la manière décrite dans la présente Politique de Confidentialité.

                    Soyez assuré que The District s’est engagé à collecter et utiliser vos données personnelles de manière responsable, sécurisée et en toute transparence. Si vous avez le moindre doute, ou une question, contactez-nous dans cette rebrique <a href="contact.php">Formulaire de contact</a>.

                </p>
                <h2>Informations que nous collectons</h2>
                <p>Nous collectons différentes informations dans le but de vous fournir et d'améliorer notre Service. <br><br>

                    Types de données collectées :</p>
                <ul>
                    <li> <b> Données personnelles :</b> Lorsque vous utilisez notre Service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier ("Données Personnelles"). Ces informations peuvent inclure, mais ne sont pas limitées à votre nom, votre adresse e-mail, votre numéro de téléphone, et d'autres informations de contact similaires.</li>
                    <li> <b>Données d'utilisation :</b> Nous pouvons également collecter des informations sur la manière dont le Service est consulté et utilisé ("Données d'Utilisation"). Ces Données d'Utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre ordinateur, le type de navigateur, la version du navigateur, les pages de notre Service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, les identifiants de périphérique et d'autres données de diagnostic.</li>

                </ul>
                <h2>Utilisation des données </h2>
                <p>Nous utilisons les données collectées à diverses fins :</p>
                <ul>
                    <li>Pour fournir et maintenir notre Service</li>
                    <li>Pour vous informer des changements apportés à notre Service</li>
                    <li>Pour vous permettre de participer aux fonctionnalités interactives de notre Service lorsque vous le souhaitez</li>
                    <li>Pour fournir un service client et un support</li>
                    <li>Pour fournir des analyses ou des informations précieuses afin que nous puissions améliorer notre Service</li>
                    <li>Pour surveiller l'utilisation de notre Service</li>
                    <li>Pour détecter, prévenir et résoudre les problèmes techniques</li>
                </ul>
                <h2>Transfert de données</h2>
                <p>Vos informations, y compris les Données Personnelles, peuvent être transférées vers, et conservées sur, des ordinateurs situés en dehors de votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection des données peuvent différer de celles de votre juridiction.</p>
                <h2>Divulgation de données</h2>
                <p>Nous ne partagerons pas vos informations personnelles avec des tiers sauf dans les cas expressément prévus par la loi.</p>
                <h2>Sécurité des données</h2>
                <p>La sécurité de vos données est importante pour nous, mais rappelez-vous qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est sécurisée à 100%. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos Données Personnelles, nous ne pouvons pas garantir leur sécurité absolue.</p>
                <h2>Modifications de cette Politique de Confidentialité</h2>
                <p>Nous nous réservons le droit de mettre à jour ou de modifier notre Politique de Confidentialité à tout moment et vous devez donc la consulter fréquemment. Les changements entreront en vigueur dès leur publication sur cette page.</p>
                <h2>Nous Contacter</h2>
                <p>Si vous avez des questions sur cette Politique de Confidentialité, veuillez nous contacter dans cette rebrique <a href="{{path('contact')}}">Formulaire de contact</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
