{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
<div class="container">
<h1>{{produit.libelle}}</h1>
{{ include('partiales/flash.html.twig') }}
{{form(form)}}
</div>
{% endblock %}
