{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
<div class="container">
<h1>{{categorie.nomCategorie}}</h1>
{{ include('partiales/flash.html.twig') }}
{{form(form)}}
</div>
{% endblock %}
