{# templates/search/index.html.twig #}
{# 
<form action="{{ path('cherche') }}" method="GET" class="d-flex mx-auto position-relative" role="search">
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Rechercher</button>
	<img src="{{ asset('assets/images/chercher.png') }}" class="image-fluid position-absolute end-0 m-2" alt="recherche">
</form> #}
{{form(form)}}