{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<div class="container text-center text-primary my-5">
    <h1 class="text-center ">{{ categorie.nomCategorie }}</h1>
    <div class="row justify-content-center">
        {% for sousCategorie in sousCategories %}
            <div class="col-6 col-md-3 my-4 survol">
                <a href="{{ path('produits', {id: sousCategorie.id}) }}">
                    <img class="img-thumbnail rounded-circle" src="{{ asset('assets/images/' ~ sousCategorie.photo) }}" style="height: 200px;">
                </a>
                <h3 class="nomCategorie my-2">{{ sousCategorie.nomCategorie }}</h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
